<h1 style="background-image: url(https://i.pinimg.com/originals/d5/60/44/d56044a5b5f62df707da4823ee84b2f4.jpg); align-content: center;">FABA The Game</h1>
  
<h1>Start a new game?</h1>
<button onclick="window.location.href = 'http://localhost:3000/game';">New Game</button>
<h1>Resume an already started game.</h1>
<button onclick="window.location.href = '/game';">Resume Game</button>

  
<li><a href="/">Go back home</a></li>
<li><a href="/leaderboard">Visit the leaderboards!</a></li>
<li><a href="/logout">Logout</a></li>
<li><a href="/game">test</a></li>